<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{HTTP_HOST} ^(www\.)?wayaenikah\.com$ [NC]
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(jpe?g|png|gif)$">
        Header set Accept-Ranges "none"
    </FilesMatch>
</IfModule>