.gallery-section {
    max-width: 1200px;
    /* margin: 50px auto; */
    text-align: center;
    /* padding: 20px; */
}



.swiper {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper .swiper-slide {
    height: 70px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.swiper-slide img {
    display: block;
    opacity : 0,5;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.mySwiper  .swiper-slide-thumb-active {
    opacity: 1;
    z-index: 10;
    transform: scale(1.1);
    border: 4px solid #9e0050;
    border-radius: 12px;
}
/* .mySwiper .swiper-slide-thumb-active img {
    opacity: 1;
   
  
} */

.mySwiper2 {
    height: 80%;
    width: 90%;
}

.mySwiper {
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}




.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    font-size: 15px;
    background-color: #9e0050;
    width: 30px; 
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  
    opacity: 0.5;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #7e003e; 
    opacity: 1;
}
